.elements {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 18px 20px;
  box-sizing: border-box;
  margin: 48px 0 0 0;
  box-sizing: border-box;
}

@media all and (max-width: 595px) {
  .elements{
    gap: 18px 0;
  }
}

